@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
$sidebar-color: rgba(19, 0, 19, 1);
$white-color: rgba(255, 255, 255, 1);
$font: 'Work Sans';
*{
    box-shadow: border-box;
    padding: 0;
    margin: 0;
    font-family: $font;
}
body{
    padding: 0;
    margin: 0;
    .dashboard{
        display: flex;
        flex-direction: row wrap;
        .sidebar{
            background-color: $sidebar-color;
            border-top-right-radius: 16px;
            padding: 1rem;
            display: block;
            flex: 1;
            overflow-y: scroll;
            .logo-name{
                display: grid;
                grid-template-columns: 1fr;
                padding-bottom: 1rem;
                img{
                    padding: 1rem;
                }
                .slide-back{
                    display: none;
                }
            }
            .sidebar-content{   
                ul{
                    padding: 0.10rem 0;
                    li{
                        margin-top: 1.5rem;
                        display: flex;
                        svg{
                            padding: 0 0.50rem;
                        }
                        a{
                            text-decoration: none;
                            font-family: $font;
                            font-size: 18px;
                            font-weight: 400;
                            color: $white-color;
                            padding: 0 0.50rem;
                            margin-top: 0.25rem;
                        }
                        .dash-link{
                            color: rgba(255, 165, 0, 1);
                        }
                    }
                    li:hover{
                        border-left: 2px solid $white-color;
                    }
                    li:active{
                        color: yellow;
                    }
                }
            }
        }
        .sidebar::-webkit-scrollbar {
            width: 8px; /* Width of the scrollbar */
          }
          
          /* The ::-webkit-scrollbar-thumb pseudo-element targets the draggable handle */
          .sidebar::-webkit-scrollbar-thumb {
            background-color: #666; /* Color of the scrollbar handle */
          }
          
          /* The ::-webkit-scrollbar-track pseudo-element targets the background of the scrollbar */
          .sidebar::-webkit-scrollbar-track {
            background-color: #222; /* Color of the scrollbar track */
          }
        .main{
            background-color: rgba(245, 245, 220, 1);
            padding: 1rem 1rem 0 1rem;
            flex: 4;
            transition: 0.5s ease-in;
            .header{
                display: grid;
                grid-template-columns: 3% 32% 35% 30%;
                .toggle-btn{
                    cursor: pointer;
                }
            .search-input{
                input{
                    width: 330px;
                    height: 40px;
                    border-radius: 8px;
                    padding: 0px, 0px, 0px, 15px;
                    gap: 20px;
                    font-family: $font;
                    font-size: 18px;
                }
            }
            .user-name{
                font-family: $font;
                color: rgba(128, 0, 128, 1);
                justify-content: right;
                float: right;
                text-align: right;
                font-size: 20px;
                padding-top: 0.50rem;
                font-weight: 600;
            }
            .alert-icon{
                ul{
                    list-style-type: none;
                    display: flex;
                    justify-content: right;
                    li{
                        padding: 10px 30px;
                    }
                }
            }
        }
        .login-name{
            p{
                font-family: Work Sans;
                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: left;                
            }
        }
        .assignment{
            display: grid;
            grid-template-columns: 45% 55%;
            padding: 1rem 0 0 0;
            .assignment-progress{
                display: grid;
                grid-template-columns: 1fr;
                .progress-status{
                    display: grid;
                    grid-template-columns: 1fr;
                    background-color: rgba(255, 255, 255, 1);
                    border-radius: 30px;
                    padding: 1.5rem;
                    .timeline-progress, .mct-progress, .machine-progress, .classification-progress{
                        h2{
                            font-family: $font;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19px;
                            letter-spacing: 0em;
                            text-align: left;
                            padding: 0 0 0.5rem 0;
                        }
                        .timeline{
                            padding-top: 0.25rem;
                            label{
                                font-family: $font;
                                font-size: 12px;
                                font-weight: 700;
                                line-height: 14px;
                                letter-spacing: 0em;
                                text-align: left;
                            }
                            .progress-container {
                                width: 100%;
                                background-color: #f3f3f3;
                                margin: 0.5rem 0;
                                .progress-bar {
                                    height: 8px;
                                    background-color: rgba(128, 0, 128, 1);
                                    text-align: center;
                                    border-radius: 8px;
                                    line-height: 30px;
                                    color: white;
                                }
                                .pb-10{
                                    width: 10%;
                                }
                                .pb-20{
                                    width: 20%;
                                }
                                .pb-30{
                                    width: 30%;
                                }
                                .pb-40{
                                    width: 40%;
                                }
                                .pb-50{
                                    width: 50%;
                                }
                                .pb-60{
                                    width: 60%;
                                }
                                .pb-70{
                                    width: 70%;
                                }
                                .pb-80{
                                    width: 80%;
                                }
                                .pb-90{
                                    width: 90%;
                                }
                            }
                        }
                        .time-limit{
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            .date-to{
                                text-align: right;
                            }
                        }
                    }
                    .pt-2{
                        padding-top: 1rem;
                    }
                }
                .submission-history{
                    display: grid;
                    grid-template-columns: 1fr;
                    background-color: rgba(255, 255, 255, 1);
                    border-radius: 30px;
                    padding: 1rem 1.5rem;
                    margin: 2rem 0;
                    h2{
                        font-family: $font;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                        padding: 1rem 0;
                    }
                    .submitted-user{
                        display: grid;
                        grid-template-columns: 7% 70% 23%;
                        .dp{
                            padding: 0.35rem 0;
                            img{
                                width: 24.46px;
                                height: 24px;                                
                            }
                        }
                        .username{
                            p{
                                font-family: $font;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 19px;
                                letter-spacing: 0em;
                                text-align: left;
                            }
                        }
                        .time{
                            text-align: center;
                        }
                    }
                    .pt-1{
                        padding-top: 0.5rem;
                    }
                }
            }
            .course-drafts{
                border-radius: 30px;
                background-color: $white-color;
                margin: 0 0 0 1rem;
                padding: 1.5rem;
                .draft-search{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    .draft{
                        h2{
                            font-family: $font;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19px;
                            letter-spacing: 0em;
                            text-align: left;
                            padding: 0.5rem 0;
                        }
                    }
                    .search-container {
                        position: relative;
                        width: 70%;
                          .search-icon {
                            position: absolute;
                            top: 50%;
                            left: 10px;
                            transform: translateY(-50%);
                            width: 20px;
                            height: 20px;
                            padding: 1rem 0;
                          }
                          .search-input {
                            width: 100%;
                            line-height: 2rem;
                            border-radius: 5px;
                            font-size: 16px;
                            outline: none;
                          }
                          input{
                            padding: 0 2rem;
                          }
                          ::placeholder{
                            font-family: $font;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 19px;
                            letter-spacing: 0em;
                          }
                      }
                }
                .course-dated{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding: 0.75rem 0;
                    .course-title{
                        font-family: $font;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    .course-datetime{
                        font-family: $font;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: right;
                    }
                }
                .pt-1{
                    padding-top: 1.5rem;
                }
            }
        }
        .published-assignment{
            display: grid;
            grid-template-columns: 25% 75%;
            padding: 1rem;
            .assignment-type{
                display: grid;
                background-color: $white-color;
                grid-template-columns: 1fr;
                .pdf-file{
                    display: grid;
                    padding: 4rem 0;
                    svg{
                        justify-self: center;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        align-self: center;
                        color: rgba(19, 0, 19, 1);
                        padding: 0.35rem 0;
                    }
                }
                .assignment-title{
                    width: 100%;
                    color: $white-color;
                    background-color: rgba(19, 0, 19, 1);
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    b{
                        padding: 0.95rem;
                    }
                    a{
                        padding: 0.51rem;
                        text-align: right;
                    }
                }
            }
            .assignment-details{
                display: grid;
                padding: 1rem;
                p{
                    font-family: Work Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: 0em;
                    text-align: left;
                    b{
                        font-family: $font;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }

            }
        }
        .students-data{
            .student-filter{
                padding: 1rem 0 0 0;
                select{
                    padding: 0.50rem;
                    border-radius: 8px;
                    border: 2px solid $sidebar-color;
                    justify-self: space-between;
                    line-height: 1rem;
                    font-family: $font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                }
            }
            .student-list{
                background-color: $white-color;
                border-radius: 30px;
                margin: 1rem 0;
                .data-head{
                    display: grid;
                    grid-template-columns: 35% 25% 10% 30%;
                    border-bottom: 1px solid rgba(51, 51, 51, 1);
                    padding: 1rem 0.75rem 1em 1rem;
                    .regno, .level, .enrolled{
                        text-align: center;
                    }
                }
                .data-list{
                    display: grid;
                    grid-template-columns: 35% 25% 10% 30%;
                    text-align: center;
                    .user-details{
                        display: flex;
                        padding: 1rem 0.75rem;
                        img{
                            width: 40px;
                            height: 40px;
                        }
                        p{
                            text-align: left;
                            padding: 0.55rem 0 0 0.25rem;
                        }
                    }
                    .reg-number, .current-level, .enrolled-courses{
                        font-family: Work Sans;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        padding: 1.5rem 0.75rem;
                    }
                }
            }
        }
        .course-and-assignment{
            .course-list{
                display: flex;
                padding: 1rem 0 0 0;
                .course-radio{
                    display: flex;
                    flex-direction: row wrap;
                    padding: 0 1rem;
                    input{
                        padding: 0 0.25rem;
                    }
                }
            }
            .course-assignment{
                display: grid;
                .active-assignment{
                    background: rgba(255, 255, 255, 1);
                    margin: 2rem 0 1rem 0;
                    padding: 1rem;
                    border-radius: 30px;
                    h2{
                        font-family: $font;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;

                    }
                    .course-status{
                        .course-title{
                            h3{
                                font-family: $font;
                                font-size: 12px;
                                font-weight: 700;
                                line-height: 14px;
                                letter-spacing: 0em;
                                text-align: left;
                                padding: 1rem 0 0 0;
                            }
                        }
                        .course-action{
                            display: grid;
                            grid-template-columns: 80% 20%;
                            .progress-container {
                                width: 100%;
                                background-color: #f3f3f3;
                                margin: 0.5rem 0;
                                .progress-bar {
                                    height: 8px;
                                    background-color: rgba(128, 0, 128, 1);
                                    text-align: center;
                                    border-radius: 8px;
                                    line-height: 30px;
                                    color: white;
                                }
                                .pb-10{
                                    width: 10%;
                                }
                                .pb-20{
                                    width: 20%;
                                }
                                .pb-30{
                                    width: 30%;
                                }
                                .pb-40{
                                    width: 40%;
                                }
                                .pb-50{
                                    width: 50%;
                                }
                                .pb-60{
                                    width: 60%;
                                }
                                .pb-70{
                                    width: 70%;
                                }
                                .pb-80{
                                    width: 80%;
                                }
                                .pb-90{
                                    width: 90%;
                                }
                            }
                            .course-edit{
                                text-align: right;
                                svg{
                                    cursor: pointer;
                                }
                            }
                        }
                        .submission-date{
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            .date-from, .date-to{
                                font-family: $font;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 14px;
                                letter-spacing: 0em;
                            }
                            .date-to{
                                text-align: right;
                            }
                        }
                    }
                }
                .publish-assignment{
                    background-color: #fff;
                    border: 1px solid rgba(51, 51, 51, 1);
                    border-radius: 1rem;
                    form{
                        textarea{
                            border-radius: 30px;
                            height: 5rem;
                        }
                        .form-control{
                            display: grid;
                            grid-template-columns: 65% 10% 25%;
                            padding: 1rem;
                            button{
                                width: 20%;
                                background: rgba(128, 0, 128, 1);
                                float: left;
                                justify-self: left;
                                text-align: center;
                                font-family: $font;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 2.5rem;
                                letter-spacing: 0em;
                                color: rgba(255, 255, 255, 1);
                                border: rgba(128, 0, 128, 1);
                                border-radius: 8px;
                            }
                            svg{
                                width: 50px;
                                height: 50px;
                                border-radius: 4px;
                            }
                            input{
                                border: 1px solid rgba(212, 88, 0, 1);
                                padding: 1rem;
                                border-radius: 8px;
                            }
                        }
                    }
                }
            }
        }
        footer{
            display: grid;
            padding-top: 1.5rem;
            grid-template-columns: 1fr 1fr;
            font-size: 18px;
            .site-version{
                justify-self: right;
            }
        }
        }
    }
}
@media screen and (max-width: 767px) {
    body{
        padding: 0;
        margin: 0;
        .dashboard{
            background-color: rgba(245, 245, 220, 1);
            display: flex;
            flex-direction: row wrap;
            overflow: auto;
    
            .sidebar{
                background-color: $sidebar-color;
                border-top-right-radius: 16px;
                padding: 1rem;
                display: none;
                position: fixed;
                z-index: 1;
                max-width: 60%;
                overflow: auto;
                flex: 1;
                overflow-y: auto;
                .logo-name{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding-bottom: 1rem;
                    img{
                        padding: 1rem;
                    }
                    .slide-back{
                        float: right;
                        justify-self: right;
                        margin: 1rem 0;
                        cursor: pointer;
                        display: block;
                        background-color: rgba(255, 165, 0, 1);
                        border-radius: 0.21rem;
                        padding: 0.1rem;
                    }
                }
                
                .sidebar-content{   
                    ul{
                        padding: 1rem 0;
                        li{
                            margin-top: 1rem;
                            display: flex;
                            svg{
                                padding: 0 0.50rem;
                            }
                            a{
                                text-decoration: none;
                                font-family: $font;
                                font-size: 20px;
                                font-weight: 400;
                                color: $white-color;
                                padding: 0 0.50rem;
                                margin-top: 0.15rem;
                            }
                            .dash-link{
                                color: rgba(255, 165, 0, 1);
                            }
                        }
                        li:hover{
                            border-left: 2px solid $white-color;
                        }
                        li:active{
                            color: yellow;
                        }
                    }
                }
            }
            .sidebar::-webkit-scrollbar {
                width: 8px; /* Width of the scrollbar */
              }
              
              /* The ::-webkit-scrollbar-thumb pseudo-element targets the draggable handle */
              .sidebar::-webkit-scrollbar-thumb {
                background-color: #666; /* Color of the scrollbar handle */
              }
              
              /* The ::-webkit-scrollbar-track pseudo-element targets the background of the scrollbar */
              .sidebar::-webkit-scrollbar-track {
                background-color: #222; /* Color of the scrollbar track */
              }
            .main{
                background-color: rgba(245, 245, 220, 1);
                transition: transform 0.10s ease;
                width: 100%;
                flex: 4;
                .header{
                    display: flex;
                    padding: 1rem 0;
                    .toggle-btn{
                        flex: 0.3;
                        padding: 0;
                        cursor: pointer;
                        svg{
                            cursor: pointer;
                        }
                    }
                .search-input{
                    flex: 1;
                    input{
                        width: 100%;
                        height: 30px;
                        border-radius: 8px;
                        padding: 0px, 0px, 0px, 15px;
                        gap: 20px;
                        font-family: $font;
                        font-size: 18px;
                    }
                }
                .user-name{
                    font-family: $font;
                    color: rgba(128, 0, 128, 1);
                    justify-content: center;
                    text-align: center;
                    font-size: 13px;
                    padding-top: 0.50rem;
                    font-weight: 600;
                    text-align: center;
                    float: center;
                    flex: 2;

                }
                .alert-icon{
                    justify-self: center;
                    ul{
                        list-style-type: none;
                        display: flex;
                        justify-content: right;
                        text-align: right;
                        li{
                            padding: 5px 10px;
                        }
                    }
                }
            }
            .login-name{
              padding: 0 0.51rem;
                p{
                    font-family: Work Sans;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left;                
                }
            }
            .assignment{
                display: grid;
                grid-template-columns: 1fr;
                padding: 1rem 0 0 0;
                .assignment-progress{
                    display: grid;
                    grid-template-columns: 1fr;
                    .progress-status{
                        display: grid;
                        grid-template-columns: 1fr;
                        background-color: rgba(255, 255, 255, 1);
                        border-radius: 30px;
                        padding: 1.5rem;
                        .timeline-progress, .mct-progress, .machine-progress, .classification-progress{
                            h2{
                                font-family: $font;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 19px;
                                letter-spacing: 0em;
                                text-align: left;
                                padding: 0 0 0.5rem 0;
                            }
                            .timeline{
                                padding-top: 0.25rem;
                                label{
                                    font-family: $font;
                                    font-size: 12px;
                                    font-weight: 700;
                                    line-height: 14px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                }
                                .progress-container {
                                    width: 100%;
                                    background-color: #f3f3f3;
                                    margin: 0.5rem 0;
                                    .progress-bar {
                                        height: 8px;
                                        background-color: rgba(128, 0, 128, 1);
                                        text-align: center;
                                        border-radius: 8px;
                                        line-height: 30px;
                                        color: white;
                                    }
                                    .pb-10{
                                        width: 10%;
                                    }
                                    .pb-20{
                                        width: 20%;
                                    }
                                    .pb-30{
                                        width: 30%;
                                    }
                                    .pb-40{
                                        width: 40%;
                                    }
                                    .pb-50{
                                        width: 50%;
                                    }
                                    .pb-60{
                                        width: 60%;
                                    }
                                    .pb-70{
                                        width: 70%;
                                    }
                                    .pb-80{
                                        width: 80%;
                                    }
                                    .pb-90{
                                        width: 90%;
                                    }
                                }
                            }
                            .time-limit{
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                .date-to{
                                    text-align: right;
                                }
                            }
                        }
                        .pt-2{
                            padding-top: 1rem;
                        }
                    }
                    .submission-history{
                        display: grid;
                        grid-template-columns: 1fr;
                        background-color: rgba(255, 255, 255, 1);
                        border-radius: 30px;
                        padding: 1rem 1.5rem;
                        margin: 2rem 0;
                        h2{
                            font-family: $font;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19px;
                            letter-spacing: 0em;
                            text-align: left;
                            padding: 1rem 0;
                        }
                        .submitted-user{
                            display: grid;
                            grid-template-columns: 7% 70% 23%;
                            .dp{
                                padding: 0.35rem 0;
                                img{
                                    width: 24.46px;
                                    height: 24px;                                
                                }
                            }
                            .username{
                                p{
                                    font-family: $font;
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 19px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                }
                            }
                            .time{
                                text-align: center;
                            }
                        }
                        .pt-1{
                            padding-top: 0.5rem;
                        }
                    }
                }
                .course-drafts{
                    border-radius: 30px;
                    background-color: $white-color;
                    margin: 0 0 1rem 1rem;
                    padding: 1.5rem;
                    .draft-search{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        .draft{
                            h2{
                                font-family: $font;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 19px;
                                letter-spacing: 0em;
                                text-align: left;
                                padding: 0.5rem 0;
                            }
                        }
                        .search-container {
                            position: relative;
                            width: 70%;
                              .search-icon {
                                position: absolute;
                                top: 50%;
                                left: 10px;
                                transform: translateY(-50%);
                                width: 20px;
                                height: 20px;
                                padding: 1rem 0;
                              }
                              .search-input {
                                width: 100%;
                                line-height: 2rem;
                                border-radius: 5px;
                                font-size: 16px;
                                outline: none;
                              }
                              input{
                                padding: 0 2rem;
                              }
                              ::placeholder{
                                font-family: $font;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 19px;
                                letter-spacing: 0em;
                              }
                          }
                    }
                    .course-dated{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        padding: 0.75rem 0;
                        .course-title{
                            font-family: $font;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 19px;
                            letter-spacing: 0em;
                            text-align: left;
                        }
                        .course-datetime{
                            font-family: $font;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 19px;
                            letter-spacing: 0em;
                            text-align: right;
                        }
                    }
                    .pt-1{
                        padding-top: 1.5rem;
                    }
                }
            }
            .published-assignment{
                display: grid;
                grid-template-columns: 30% 70%;
                padding: 1rem;
                .assignment-type{
                    display: grid;
                    background-color: $white-color;
                    grid-template-columns: 1fr;
                    height: 15rem;
                    .pdf-file{
                        display: grid;
                        padding: 3rem 0;
                        svg{
                            justify-self: center;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            align-self: center;
                            color: rgba(19, 0, 19, 1);
                            padding: 0.15rem 0;
                        }
                    }
                    .assignment-title{
                        width: 100%;
                        color: $white-color;
                        background-color: rgba(19, 0, 19, 1);
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        padding: 0;
                        margin: 3rem 0;
                        height: 3rem;
                        b{
                            padding: 1rem 0.25rem;
                            margin: 0;
                        }
                        a{
                            padding: 0.80rem 0.25rem;
                            margin: 0;
                        }
                    }
                }
                .assignment-details{
                    display: grid;
                    padding: 0.50rem 0.50rem;
                    p{
                        font-family: Work Sans;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 32px;
                        letter-spacing: 0em;
                        text-align: left;
                        b{
                            font-family: $font;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 32px;
                            letter-spacing: 0em;
                            text-align: left;
                        }
                    }
    
                }
            }
            .students-data{
                .student-filter{
                    select{
                        padding: 0.50rem;
                        border-radius: 8px;
                        border: 2px solid $sidebar-color;
                        justify-self: space-between;
                        line-height: 1rem;
                        font-family: $font;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                    }
                }
                .student-list{
                    background-color: $white-color;
                    border-radius: 30px;
                    margin: 1rem 0;
                    .data-head{
                        display: grid;
                        grid-template-columns: 35% 25% 10% 30%;
                        border-bottom: 1px solid rgba(51, 51, 51, 1);
                        padding: 1rem 0.75rem 1em 1rem;
                        font-size: 13px;
                        .regno, .level, .enrolled{
                            text-align: center;
                        }
                    }
                    .data-list{
                        display: grid;
                        grid-template-columns: 35% 25% 10% 30%;
                        text-align: center;
                        font-size: 16px;
                        .user-details{
                            display: flex;
                            padding: 0.75rem;
                            img{
                                width: 40px;
                                height: 40px;
                            }
                            p{
                                text-align: left;
                                padding: 0.25rem 0 0 0.25rem;
                            }
                        }
                        .reg-number, .current-level, .enrolled-courses{
                            font-family: Work Sans;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 19px;
                            letter-spacing: 0em;
                            padding: 1.5rem 0.75rem;
                        }
                    }
                }
            }
            .course-assignment{
                background-color: $white-color;
            }
            footer{
                display: grid;
                grid-template-columns: 1fr;
                background-color: $sidebar-color;
                color: $white-color;
                border-radius: 16px;
                // margin: 1rem;
                padding: 1rem 0;
                .copyright{
                    // padding: 2rem;
                    justify-self: center;
                }
                .site-version{
                    text-align: center;
                    justify-self: center;
                    // padding: 2rem;
                    padding: 0.5rem 0;
                }
            }
            }
        }
    }
}